<%= render "shared/header" %>
　<div class='main'>
  <div class='title-content'>
    <h2 class='serv-title'>
    ’経済を密に’をテーマに
    </h2>
    <p class='serv-explain'>
    投資家と企業の架け橋を目指しています。
    </p>
  </div>
